<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dynamic.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>static.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04311EAB76193D5593D43DBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E7B4F88F81E37B4A9FF6C10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FF0B5E0505D3AEA9A4ACF12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>325D519EDE373053836789ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>374BD863E6AD33189B7E4041</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D4D213D981636AD97F25EDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D98B791E17232D39944F050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FF4B47503A43F2D94CB71A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C5CD199E7573C73AE6F392E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FE4BE52F183356D931E7667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60328E6EA3793DA990E18FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E51BFF5CD2327483201F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62E50658BDAD369D92294F69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64B126D857113F24BA8C4759</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83F62FA47C9636169F1E18E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B9CA7F627D5348D8F03D04C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA960FB143A63667839CE794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8F95052522B37AB86DA8918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5710D15A3E13DD884B17D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA4C13340B723959B29525B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD6D772D0AC73138988DB439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E96566B813153B4295AD767C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9096898D4873FBD96F76FBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE1C78F1707A30878CBB2B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
